			<h2>Come here to find cheats for tests, resumes, and general school related topics!</h2>
			<button type="button" class="btn btn-default">Submit your own Cheat</button>
			<div class="currentcheats">
				<h3>ACT Cheats</h3>
				
				<ul id="ACTcheats">
					<li ng-repeat="ACTcheat in ACTcheats">{{ACTcheat.title}}
					</li>
				</ul>
				<h3>Resume Cheats</h3>
				<ul id="Resumecheats">
					<li ng-repeat="Resumecheat in Resumecheats">{{Resumecheat.title}}
					</li>
				</ul>

				<h3>General Tips and Cheats</h2>
				<h3>Other questions that need tips? </h3>
			</div>
			<div class = "cheatform"> 
			<h3>ACT Cheats</h3>
			<form>
				<input type="text" name="Tips" ng-model="ACTcheat">
				<input type="submit" ng-click="createcheat(ACTcheats,ACTcheat)">
			
			<h3>Resume Cheats</h3>
				<input type="text" name="Tips" ng-model="Resumecheat">
				<input type="submit" ng-click="createcheat(Resumecheat)">
			
			<h3>General Tips and Cheats</h2>
				<textarea name="Submit Tip">
				</textarea>
				<br />
				<input type ="submit" />
			<h3>Other questions that need tips? Write them or answer those questions here.</h3>
				<textarea name="Submit Act Tip">
				</textarea>
				<br />
				<input type="submit" />
			</form>
		</div>
				
	